{% extends 'base.html.twig' %}
{% block stylesheets %}

{% endblock %}
{% block body %}
    <h2>Nouveau client</h2>
    <hr>
    {{ form_start(form) }}
    <div class="row">
        <div class="col-6">{{ form_row(form.raisonSocial) }}</div>
        <div class="col-6">{{ form_row(form.fonctionSignataire) }}</div>
    </div>
    <div class="row">
        <div class="col-6">{{ form_row(form.nomSignataire) }}</div>
        <div class="col-6">{{ form_row(form.prenomSignataire) }}</div>
    </div>
    <div class="row">
        <div class="col-6">{{ form_row(form.telephone) }}</div>
        <div class="col-6">{{ form_row(form.email) }}</div>
    </div>
    <div class="row">
        <div class="col-12">
            {{ form_row(form.vendeur) }}
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <label>Nombre de site dans périmètre électricité</label>
            <table>
                <tr>
                    <td style="background-color: rgba(135,206,250, 0.1); padding-top: 16px; width: 100%">{{ form_row(form.nbrSiteElec, {'attr':{'class':'foo'}}) }}</td>
                    <td style="background-color: rgba(135,206,250, 0.1);"><input name="elec" type="submit" value="Définir le périmètres électricité" class="btn btn-sm btn-warning"></td>
                </tr>
            </table>
        </div>
        <div class="col-6">
            <label>Nombre de site dans périmètre gaz naturel</label>
            <table>
                <tr>
                    <td style="background-color: rgba(135,206,250, 0.1); padding-top: 16px;width: 100%">{{ form_row(form.nbrSiteGaz, {'attr':{'class':'foo'}}) }}</td>
                    <td style="background-color: rgba(135,206,250, 0.1);"><input name="gaz" type="submit" value="Définir le périmètres gaz naturel" class="btn btn-sm btn-info"></td>
                </tr>
            </table>
        </div>
    </div>
    {{ form_end(form) }}
    <hr>
    <a href="{{ path('sendemailclient',{id:client.id}) }}" class="btn btn-warning">Envoyer email de creation de compte</a>
    <br>
    <br>
{% endblock %}
