{% extends 'base.html.twig' %}

{% block body %}
    <h3>Les valeurs de la Composante de soutirage part fixe</h3>
    <hr>
    {{ form_start(form) }}
    {{ form_row(form.pte) }}
    <div class="row">
        <div class="col-6">
            {{ form_row(form.hph) }}
        </div>
        <div class="col-6">
            {{ form_row(form.hch) }}
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            {{ form_row(form.hpe) }}
        </div>
        <div class="col-6">
            {{ form_row(form.hce) }}
        </div>
    </div>
    <input type="submit" class="btn btn-sm btn-primary" value="Enregistrer">
    {{ form_end(form) }}
{% endblock %}