<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="shortcut icon" href="/imagesSites/icon.png" />
        <!-- Custom styles for this template -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>
            Etarget-access
        </title>
        <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
        <!--     Fonts and icons     -->
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
        <!-- CSS Files -->
        <link href="/assets/css/material-dashboard.css?v=2.1.2" rel="stylesheet" />
        <!-- CSS Just for demo purpose, don't include it in your project -->
        <link href="/assets/demo/demo.css" rel="stylesheet" />
        <title>{% block title %}Accessenergie{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}
        <style>
            .form{
                width: 35%;
                background-color: white;
                border: 1px solid #0b0b0b;
                border-radius: 10px;
                padding: 12px;
                margin-top: 25px;
                text-align: left;
            }
            body {
                /*background-image: linear-gradient(#FFF 65%, #6c757d);*/
                min-height: 770px;
            }
            html {
                box-sizing: border-box;
            }

            *,
            *:before,
            *:after {
                box-sizing: inherit;
            }

            body {
                color: rgba(0, 0, 0, 0.87);
            }

            a {
                color: #26890d;
            }
            a:hover, a:focus {
                color: #046a38;
            }

            .container {
                margin: 5% 3%;
            }
            @media (min-width: 48em) {
                .container {
                    margin: 2%;
                }
            }
            @media (min-width: 75em) {
                .container {
                    margin: 2em auto;
                    max-width: 75em;
                }
            }

            .responsive-table {
                width: 100%;
                margin-bottom: 1.5em;
                border-spacing: 0;
            }
            @media (min-width: 48em) {
                .responsive-table {
                    font-size: 0.9em;
                }
            }
            @media (min-width: 62em) {
                .responsive-table {
                    font-size: 1em;
                }
            }
            .responsive-table thead {
                position: absolute;
                clip: rect(1px 1px 1px 1px);
                /* IE6, IE7 */
                padding: 0;
                border: 0;
                height: 1px;
                width: 1px;
                overflow: hidden;
            }
            @media (min-width: 48em) {
                .responsive-table thead {
                    position: relative;
                    clip: auto;
                    height: auto;
                    width: auto;
                    overflow: auto;
                }
            }
            .responsive-table thead th {
                background-color: #26890d;
                border: 1px solid #86bc25;
                font-weight: normal;
                text-align: center;
                color: white;
            }
            .responsive-table thead th:first-of-type {
                text-align: left;
            }
            .responsive-table tbody,
            .responsive-table tr,
            .responsive-table th,
            .responsive-table td {
                display: block;
                padding: 0;
                text-align: left;
                white-space: normal;
            }
            @media (min-width: 48em) {
                .responsive-table tr {
                    display: table-row;
                }
            }
            .responsive-table th,
            .responsive-table td {
                padding: 0.5em;
                vertical-align: middle;
            }
            @media (min-width: 30em) {
                .responsive-table th,
                .responsive-table td {
                    padding: 0.75em 0.5em;
                }
            }
            @media (min-width: 48em) {
                .responsive-table th,
                .responsive-table td {
                    display: table-cell;
                    padding: 0.5em;
                }
            }
            @media (min-width: 62em) {
                .responsive-table th,
                .responsive-table td {
                    padding: 0.75em 0.5em;
                }
            }
            @media (min-width: 75em) {
                .responsive-table th,
                .responsive-table td {
                    padding: 0.75em;
                }
            }
            .responsive-table caption {
                margin-bottom: 1em;
                font-size: 1em;
                font-weight: bold;
                text-align: center;
            }
            @media (min-width: 48em) {
                .responsive-table caption {
                    font-size: 1.5em;
                }
            }
            .responsive-table tfoot {
                font-size: 0.8em;
                font-style: italic;
            }
            @media (min-width: 62em) {
                .responsive-table tfoot {
                    font-size: 0.9em;
                }
            }
            @media (min-width: 48em) {
                .responsive-table tbody {
                    display: table-row-group;
                }
            }
            .responsive-table tbody tr {
                margin-bottom: 1em;
            }
            @media (min-width: 48em) {
                .responsive-table tbody tr {
                    display: table-row;
                    border-width: 1px;
                }
            }
            .responsive-table tbody tr:last-of-type {
                margin-bottom: 0;
            }
            @media (min-width: 48em) {
                .responsive-table tbody tr:nth-of-type(even) {
                    background-color: rgba(0, 0, 0, 0.12);
                }
            }
            .responsive-table tbody th[scope=row] {
                background-color: #26890d;
                color: white;
            }
            @media (min-width: 30em) {
                .responsive-table tbody th[scope=row] {
                    border-left: 1px solid #86bc25;
                    border-bottom: 1px solid #86bc25;
                }
            }
            @media (min-width: 48em) {
                .responsive-table tbody th[scope=row] {
                    background-color: transparent;
                    color: #000001;
                    text-align: left;
                }
            }
            .responsive-table tbody td {
                text-align: right;
            }
            @media (min-width: 48em) {
                .responsive-table tbody td {
                    border-left: 1px solid #86bc25;
                    border-bottom: 1px solid #86bc25;
                    text-align: center;
                }
            }
            @media (min-width: 48em) {
                .responsive-table tbody td:last-of-type {
                    border-right: 1px solid #86bc25;
                }
            }
            .responsive-table tbody td[data-type=currency] {
                text-align: right;
            }
            .responsive-table tbody td[data-title]:before {
                content: attr(data-title);
                float: left;
                font-size: 0.8em;
                color: rgba(0, 0, 0, 0.54);
            }
            @media (min-width: 30em) {
                .responsive-table tbody td[data-title]:before {
                    font-size: 0.9em;
                }
            }
            @media (min-width: 48em) {
                .responsive-table tbody td[data-title]:before {
                    content: none;
                }
            }
            .t{
                text-align: left;
                border-radius: 12px;
                margin-top: 10%;
                padding-left: 15%;
            }
            .el{
                border: 1px solid green;
                width: 250px;
                padding: 10px;
                border-radius: 15px;
            }
            .card-stats-t{
                padding-top: 10px;
                text-align: center;
                height: 100px;
                background-color: #32CD32;
                font-weight: bold;
            }
        </style>
    </head>
    <body>
    {% if app.user %}
        <div class="wrapper ">
            <div class="sidebar" data-color="purple" data-background-color="white" data-image="/assets/img/sidebar-1.jpg">
                <div class="logo"><a href="http://www.creative-tim.com" class="simple-text logo-normal">
                        <img width="175px" src="/imagesSites/log.png">
                    </a></div>
                <div class="sidebar-wrapper">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('admin') }}">
                                <i class="material-icons">dashboard</i>
                                <p>Tableau de bord</p>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="{{ path('listeclient') }}">
                                <i class="material-icons">person</i>
                                <p>Client</p>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="{{ path('listVendeur') }}">
                                <i class="material-icons">content_paste</i>
                                <p>Commercial</p>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="{{ path('setting') }}">
                                <i class="material-icons">settings</i>
                                <p>Configuration</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="main-panel">
                <!-- Navbar -->
                <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
                    <div class="container-fluid">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="navbar-toggler-icon icon-bar"></span>
                            <span class="navbar-toggler-icon icon-bar"></span>
                            <span class="navbar-toggler-icon icon-bar"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-end">
                            {# <form class="navbar-form">
                                <div class="input-group no-border">
                                    <input type="text" value="" class="form-control" placeholder="Search...">
                                    <button type="submit" class="btn btn-white btn-round btn-just-icon">
                                        <i class="material-icons">search</i>
                                        <div class="ripple-container"></div>
                                    </button>
                                </div>
                            </form> #}
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link" href="javascript:;">
                                        <i class="material-icons">dashboard</i>
                                        <p class="d-lg-none d-md-block">
                                            Stats
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">notifications</i>
                                        <span class="notification">0</span>
                                        <p class="d-lg-none d-md-block">
                                            Some Actions
                                        </p>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item" href="#">Mike John responded to your email</a>
                                        <a class="dropdown-item" href="#">You have 5 new tasks</a>
                                        <a class="dropdown-item" href="#">You're now friend with Andrew</a>
                                        <a class="dropdown-item" href="#">Another Notification</a>
                                        <a class="dropdown-item" href="#">Another One</a>
                                    </div>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link" href="javascript:;" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">person</i>
                                        <p class="d-lg-none d-md-block">
                                            Account
                                        </p>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
                                        {#<a class="dropdown-item" href="#">Profile</a>#}
                                        <a class="dropdown-item" href="{{ path('editPassword', {id: app.user.id}) }}">Sécurité</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="{{ path('app_logout') }}">Déconnecter</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <div class="content">
                    <div class="container-fluid">
                    {% block body %}

                    {% endblock %}
                </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
        <script src="/assets/js/core/jquery.min.js"></script>
        <script src="/assets/js/core/popper.min.js"></script>
        <script src="/assets/js/core/bootstrap-material-design.min.js"></script>
        <script src="/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
        <!-- Plugin for the momentJs  -->
        <script src="/assets/js/plugins/moment.min.js"></script>
        <!--  Plugin for Sweet Alert -->
        <script src="/assets/js/plugins/sweetalert2.js"></script>
        <!-- Forms Validations Plugin -->
        <script src="/assets/js/plugins/jquery.validate.min.js"></script>
        <!-- Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
        <script src="/assets/js/plugins/jquery.bootstrap-wizard.js"></script>
        <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
        <script src="/assets/js/plugins/bootstrap-selectpicker.js"></script>
        <!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
        <script src="/assets/js/plugins/bootstrap-datetimepicker.min.js"></script>
        <!--  DataTables.net Plugin, full documentation here: https://datatables.net/  -->
        <script src="/assets/js/plugins/jquery.dataTables.min.js"></script>
        <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
        <script src="/assets/js/plugins/bootstrap-tagsinput.js"></script>
        <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
        <script src="/assets/js/plugins/jasny-bootstrap.min.js"></script>
        <!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
        <script src="/assets/js/plugins/fullcalendar.min.js"></script>
        <!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
        <script src="/assets/js/plugins/jquery-jvectormap.js"></script>
        <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
        <script src="/assets/js/plugins/nouislider.min.js"></script>
        <!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support SweetAlert -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
        <!-- Library for adding dinamically elements -->
        <script src="/assets/js/plugins/arrive.min.js"></script>
        <!--  Google Maps Plugin    -->
        <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
        <!-- Chartist JS -->
        <script src="/assets/js/plugins/chartist.min.js"></script>
        <!--  Notifications Plugin    -->
        <script src="/assets/js/plugins/bootstrap-notify.js"></script>
        <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
        <script src="/assets/js/material-dashboard.js?v=2.1.2" type="text/javascript"></script>
        <!-- Material Dashboard DEMO methods, don't include it in your project! -->
        <script src="/assets/demo/demo.js"></script>
        <script>
            $(document).ready(function() {
                $().ready(function() {
                    $sidebar = $('.sidebar');

                    $sidebar_img_container = $sidebar.find('.sidebar-background');

                    $full_page = $('.full-page');

                    $sidebar_responsive = $('body > .navbar-collapse');

                    window_width = $(window).width();

                    fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();

                    if (window_width > 767 && fixed_plugin_open == 'Dashboard') {
                        if ($('.fixed-plugin .dropdown').hasClass('show-dropdown')) {
                            $('.fixed-plugin .dropdown').addClass('open');
                        }

                    }

                    $('.fixed-plugin a').click(function(event) {
                        // Alex if we click on switch, stop propagation of the event, so the dropdown will not be hide, otherwise we set the  section active
                        if ($(this).hasClass('switch-trigger')) {
                            if (event.stopPropagation) {
                                event.stopPropagation();
                            } else if (window.event) {
                                window.event.cancelBubble = true;
                            }
                        }
                    });

                    $('.fixed-plugin .active-color span').click(function() {
                        $full_page_background = $('.full-page-background');

                        $(this).siblings().removeClass('active');
                        $(this).addClass('active');

                        var new_color = $(this).data('color');

                        if ($sidebar.length != 0) {
                            $sidebar.attr('data-color', new_color);
                        }

                        if ($full_page.length != 0) {
                            $full_page.attr('filter-color', new_color);
                        }

                        if ($sidebar_responsive.length != 0) {
                            $sidebar_responsive.attr('data-color', new_color);
                        }
                    });

                    $('.fixed-plugin .background-color .badge').click(function() {
                        $(this).siblings().removeClass('active');
                        $(this).addClass('active');

                        var new_color = $(this).data('background-color');

                        if ($sidebar.length != 0) {
                            $sidebar.attr('data-background-color', new_color);
                        }
                    });

                    $('.fixed-plugin .img-holder').click(function() {
                        $full_page_background = $('.full-page-background');

                        $(this).parent('li').siblings().removeClass('active');
                        $(this).parent('li').addClass('active');


                        var new_image = $(this).find("img").attr('src');

                        if ($sidebar_img_container.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
                            $sidebar_img_container.fadeOut('fast', function() {
                                $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
                                $sidebar_img_container.fadeIn('fast');
                            });
                        }

                        if ($full_page_background.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
                            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

                            $full_page_background.fadeOut('fast', function() {
                                $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
                                $full_page_background.fadeIn('fast');
                            });
                        }

                        if ($('.switch-sidebar-image input:checked').length == 0) {
                            var new_image = $('.fixed-plugin li.active .img-holder').find("img").attr('src');
                            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

                            $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
                            $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
                        }

                        if ($sidebar_responsive.length != 0) {
                            $sidebar_responsive.css('background-image', 'url("' + new_image + '")');
                        }
                    });

                    $('.switch-sidebar-image input').change(function() {
                        $full_page_background = $('.full-page-background');

                        $input = $(this);

                        if ($input.is(':checked')) {
                            if ($sidebar_img_container.length != 0) {
                                $sidebar_img_container.fadeIn('fast');
                                $sidebar.attr('data-image', '#');
                            }

                            if ($full_page_background.length != 0) {
                                $full_page_background.fadeIn('fast');
                                $full_page.attr('data-image', '#');
                            }

                            background_image = true;
                        } else {
                            if ($sidebar_img_container.length != 0) {
                                $sidebar.removeAttr('data-image');
                                $sidebar_img_container.fadeOut('fast');
                            }

                            if ($full_page_background.length != 0) {
                                $full_page.removeAttr('data-image', '#');
                                $full_page_background.fadeOut('fast');
                            }

                            background_image = false;
                        }
                    });

                    $('.switch-sidebar-mini input').change(function() {
                        $body = $('body');

                        $input = $(this);

                        if (md.misc.sidebar_mini_active == true) {
                            $('body').removeClass('sidebar-mini');
                            md.misc.sidebar_mini_active = false;

                            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar();

                        } else {

                            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar('destroy');

                            setTimeout(function() {
                                $('body').addClass('sidebar-mini');

                                md.misc.sidebar_mini_active = true;
                            }, 300);
                        }

                        // we simulate the window Resize so the charts will get updated in realtime.
                        var simulateWindowResize = setInterval(function() {
                            window.dispatchEvent(new Event('resize'));
                        }, 180);

                        // we stop the simulation of Window Resize after the animations are completed
                        setTimeout(function() {
                            clearInterval(simulateWindowResize);
                        }, 1000);

                    });
                });
            });
        </script>
        <script>
            $(document).ready(function() {
                // Javascript method's body can be found in assets/js/demos.js
                md.initDashboardPageCharts();

            });
        </script>
        {% block javascripts %}
        {% endblock %}

    {% endif %}
    </body>

</html>
