{% extends 'base.html.twig' %}
{% block stylesheets %}

{% endblock %}
{% block body %}
    <div class="f">
        <h2>Client</h2>
        <hr>
        {{ form_start(form) }}
        <div class="row">
            <div class="col-6">{{ form_row(form.raisonSocial) }}</div>
            <div class="col-6">{{ form_row(form.fonctionSignataire) }}</div>
        </div>
        <div class="row">
            <div class="col-6">{{ form_row(form.nomSignataire) }}</div>
            <div class="col-6">{{ form_row(form.prenomSignataire) }}</div>
        </div>
        <div class="row">
            <div class="col-6">{{ form_row(form.telephone) }}</div>
            <div class="col-6">{{ form_row(form.email) }}</div>
        </div>
        <div class="row">
            <div class="col-12">
                {{ form_row(form.vendeur) }}
            </div>
        </div>
        <input type="submit" class="btn btn-warning" value="Enregistrer">
        {{ form_end(form) }}

    </div>

    <br>
    <br>
{% endblock %}